// Grayscale
$black: #000000;
$white: #f6f6f4;

// Colors
$green: #363A2D;
$red: #892D4B;
$gold: #BFAE78;

//Typography
@font-face {
    font-family: 'Jomhuria';
    /*a name to be used later*/
    src: url('../fonts/Jomhuria-Regular.ttf');
}